<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader: <%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/file/create" method="post" enctype="multipart/form-data" novalidate>
        <input type="hidden" value="<%= folderId %>" name="folder">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="file">File:</label>
        <input type="file" name="file" id="file">
        <br>

        <button type="submit">Upload</button>
    </form>
</body>
</html>