main,
main form,
form div.field {
  display: flex;
}
main form,
form div.field {
  flex-direction: column;
}

main {
  justify-content: center;
  align-items: start;
}

main form {
  gap: 15px;
  margin-top: 10%;
}

.field * {
  font-size: 1.2rem;
}

.field label {
  font-weight: bold;
}

.field input {
  background-color: rgb(97, 116, 128);
  width: 250px;
  border-radius: 7px;
}

main form button {
  width: 50%;
  align-self: center;
}
