main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main img {
  max-width: 80vw;
  width: 400px;
  height: auto;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(117, 165, 195);
}

div.data {
  padding: 20px;
  border-radius: 7px;
  background-color: rgb(97, 116, 128);
}
div.data > *:not(:last-child) {
  margin-bottom: 10px;
}
